/* FOR DATA FIELDS */

.data {
  font-weight: 600;
}

p.PatientID::before {
  content: "Patient ID: ";
}

p.Name::before,
p.EmergencyContact-Name::before {
  content: "Name: ";
}

p.DateOfBirth::before {
  content: "Date of birth: ";
}

p.Age::before {
  content: "Age: ";
}

p.Gender::before {
  content: "Gender: ";
}

p.Address::before {
  content: "Address: ";
}

p.PhoneNumber::before,
p.EmergencyContact-PhoneNumber::before {
  content: "Phone number: ";
}

p.Email::before {
  content: "Email: ";
}

p.FamilyHistory-Relation::before,
p.EmergencyContact-Relation::before {
  content: "Relationship: ";
}

p.FamilyHistory-Condition::before {
  content: "Condition: ";
}

p.Allergies-Allergen::before {
  content: "Allergen: ";
}

p.Allergies-Reaction::before {
  content: "Reaction: ";
}

p.PastIllnesses-Illness::before {
  content: "Illness: ";
}

p.PastIllnesses-Year::before {
  content: "Year: ";
}

p.CurrentMedications::before {
  content: "Current medications: ";
}

p.VisitDate::before,
p.Treatment-Date::before,
p.FollowUp-Date::before {
  content: "Date: ";
}

p.VisitID::before {
  content: "Visit ID: ";
}

p.PrimaryPhysician::before {
  content: "Primary physician: ";
}

p.ReasonForVisit::before {
  content: "Issue: ";
}

p.DiagnosisCode::before {
  content: "Diagnosis code: ";
}

p.DiagnosisDescription::before {
  content: "Description: ";
}

p.Severity::before {
  content: "Severity: ";
}

p.AffectedSide::before {
  content: "Affected side: ";
}

p.Treatment-Procedure::before {
  content: "Procedure: ";
}

p.Treatment-Result::before {
  content: "Result: ";
}

p.Treatment-Method::before {
  content: "Treatment method: ";
}

p.Treatment-Medication::before {
  content: "Medication: ";
}

p.Treatment-Purpose::before,
p.FollowUp-Purpose::before {
  content: "Purpose: ";
}

/* p.FunNotes::before,
p.TreatmentPlan-Notes::before {
  content: "Notes: ";
} */

p.FavoriteToy::before {
  content: "Favorite toy: ";
}

p.TotalCost::before {
  content: "Total cost: ";
}

p.PaymentStatus::before {
  content: "Payment status: ";
}

p.InsuranceProvider::before {
  content: "Insurance provider: ";
}

p.PolicyNumber::before {
  content: "Policy number: ";
}

p.BillingCode::before {
  content: "Billing code: ";
}

/* DIALOGFLOW */

#chatbot {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  /* box-shadow: rgba(9, 10, 12, 0.1) 0px 8px 16px -2px, rgba(9, 10, 12, 0.02) 0px 0px 0px 1px; */
  --d-df-messenger-primary-color: rgb(67, 70, 84);
  ;
  --df-messenger-titlebar-background: rgb(64, 70, 84);
  /* --df-messenger-titlebar-background: #4d4d4f; */
  /* --df-messenger-focus-color: #ccdc40; */
  --df-messenger-chat-background: white;
  --df-messenger-chat-scroll-button-background: rgb(67, 70, 84);
  --df-messenger-titlebar-font-color: white;
  --df-messenger-titlebar-title-font-family: Arial, sans-serif;
  --df-messenger-titlebar-title-font-weight: 700;
  --df-messenger-titlebar-padding: 1.5em 2em 1em 2em;
  --df-messenger-titlebar-subtitle-font-color: whte;
  --df-messenger-titlebar-subtitle-font-family: Arial, sans-serif;
  --df-messenger-titlebar-subtitle-font-size: 0.9em;
  --df-messenger-titlebar-subtitle-line-height: 1.8em;
  --df-messenger-message-font-family: Arial, sans-serif;
  /* --df-messenger-message-bot-font-color: #4d4d4f; */
  --df-messenger-message-bot-background: rgba(53, 121, 246, 0.1);
  --df-messenger-message-bot-writing-background: rgba(53, 121, 246, 0.1);
  /* --df-messenger-message-user-font-color: #4d4d4f; */
  --df-messenger-input-background: rgba(113, 200, 179, 0.2);
  --df-messenger-message-user-background: RGBA(204, 220, 64, 0.2);
  --df-messenger-input-font-family: Arial, sans-serif;
  --df-messenger-input-padding: 10px 0px 10px 10px;
  --df-messenger-input-background: white;
  --df-messenger-input-box-focus-border: 3px solid rgb(67, 70, 84);
  --df-messenger-send-icon-color: rgb(67, 70, 84);
  --df-messenger-send-icon-color-hover: rgb(67, 70, 84);
  --df-messenger-send-icon-color-active: rgb(67, 70, 84);
}

/* CARDS */

.half-width {
  width: 50%;
}

/* CARD TABS */

.panel-tabs {
  margin-bottom: 1em;
}

.panel-tabs a {
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

/* CARD CONTENTS */

.panel-block {
  font-weight: 400;
}

.tab-panel,
.hide {
  display: none;
}

/* CARD PAGINATION */
/* .is-current {
  border: 0;
} */

/* CARD: CONSULTATION */

.consultation .card-footer {
  display: flex;
  justify-content: flex-end;
}

.consultation .card-footer button {
  margin: 1.8em 1em 1em 1em;
}

.consultation .is-5 {
  margin-top: 1.5em;
  border-bottom: 1px dotted grey;
}

/* CARD: UMBRA */

.highlight {
  /* background-color: #ccdc40; */
  background-color: black;
}

.highlight:hover {
  background-color: #ccdc40;
  /* Background color when hovered */
  color: black;
  /* Text color when hovered for better contrast */
  /* https://www.svgviewer.dev/svg-to-png */
  cursor: url('moon.png'), auto;
  /* Custom cursor on hover */
}

#results {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

#loading {
  display: none;
  text-align: center;
  margin-top: 20px;
}

textarea {
  box-sizing: border-box;
  min-height: 10em;
  width: 100%;
}

textarea:focus {
  outline: none;
}

textarea#box1-prmpt:focus {
  border: 2px solid rgb(67, 70, 84);
}

#box2,
#box3 {
  resize: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  /* width: 60%; */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: auto;
}

.spinner {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #2354ad;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  /* width: 60%; */
  margin: 10px 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#umbra-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#umbra-card .description {
  padding-bottom: 0;
}

#umbra-card nav.card-footer {
  width: 100%;
  order: 3;
  padding: 1.5em;
  margin: auto 0;
}

#umbra-card-contents {
  padding-top: 0;
}

.step-explain {
  margin: 1em 0 2em 0;
  font-style: italic;
  font-size: 0.9em;
  line-height: 1em;
}

button .material-symbols-outlined,
button .material-symbols-sharp {
  padding-left: 0.3em;
  opacity: 0.8;
}

/* .progress-bar, */
progress[value] {
  width: 100%;
  height: 8px;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  /* background-color: rgba(175, 175, 175, 0.7); */
  margin: 2em 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 4px;
}

progress[value]::-webkit-progress-value {
  background-color: #ccdc40;
  border-radius: 4px;
}

progress[value]::-moz-progress-bar {
  background-color: #ccdc40;
}


/* PAGE */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

button {
  /* margin-top: 1em;
  margin-bottom: 1em; */
  margin: 1em 0 3.5em 0;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

a {
  color: #2354ad;
}

.show {
  display: contents;
}

.alert-banner {
  display: block;
  width: 100%;
  background-color: #ccdc40;
  position: fixed;
  top: 0;
  left: 0;
  height: 1.5em;
  text-align: center;
  z-index: 1;
  font-style: italic;
}

/* PAGE FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  background-color: rgba(77, 77, 79, 0.7);
  color: rgba(255, 255, 255, 0.8);
  line-height: 1em;
}

.footer hr {
  opacity: 0.4;
}

.footer a {
  text-decoration: underline;
  color: inherit;
}